@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This is the Morale-O-Meter, a way to track all kinds of metrics about yourself over time.</p>

<p>It's mainly an excuse for Matt to brush up on ASP.NET MVC and Web API, as well as learning Angular.</p>

